header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	// width: 100%;
	z-index: 1000;
  background: $header-bg-color;
// my name logo animation text
  .logo {
    border: none;
    background-image: $primary-bg-color;
    border-radius: 8px;
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
    line-height: 10px;
    position: absolute;
    animation: slider 3s 1s linear ;
    margin-left: 10px;
    margin-top: 20px;
    padding: 10px 30px;
    transition: 0.3s;
    &:hover{
      padding: 10px 35px;
    } 
  }
}
// Animation for logo text
@keyframes slider {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 10%;
  }
}
// nav bar start
nav {
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem;
  // hamburger menu icon
    .menu-icon {
      cursor: pointer;
      padding: 20px 20px;
      position: absolute;
      user-select: none;
      .nav-icon {
        background:$text-color;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
        
        &:before{
          background:$text-color;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          transition: all .2s ease-out;
          width: 100%;
          top: 5px;
        }
        &:after{
          background:$text-color;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          transition: all .2s ease-out;
          width: 100%;
          top: -5px;
        }
      }
    }
  
      ul {
          margin: 0;
          padding: 0;
          list-style: none;
          overflow: hidden;
      }
      li {
          a {
              display: block;
              padding: 20px 20px;
              text-decoration: none;
              color: $text-color;
              font-size: 2rem;
              position: relative;
          }
      }
  }
  .menu {
    padding-top: 3rem;
    max-height: 0;
    transition: max-height .2s ease-out;

  li{
    a
    {
      &:before {
        content: "";
        width: 0;
        height: 5px;
        background-color: $nav-hover-blue;
        position: absolute;
        top: 70%;
        left: 0;
        transition: all 0.5s;
      }
      &:after {
        content: "";
        width: 0;
        height: 5px;
        background-color: $nav-hover-pink;
        position: absolute;
        top: 70%;
        right: 0;
        transition: all 0.5s;
      } 
     &:hover:before {
        width: 50%;
        transform: translateX(100%);
      }
      &:hover:after {
        width: 40%;
        transform: translateX(-100%);
      }
    }
  } 
} 

//  Hamburger menu icon for small screen
 .menu-btn {
	display: none;
	&:checked {
		~ {
			.menu {
				min-height: 400px;
			}
			.menu-icon {
				.nav-icon {
					background: transparent;
					&:before {
						transform: rotate(-45deg);
					}
					&:after {
						transform: rotate(45deg);
					}
				}
				&:not(.steps) {
					.nav-icon {
						&:before {
							top: 0;
						}
						&:after {
							top: 0;
						}
					}
				}
			}
		}
	}
}





