    //  Medium devices (landscape tablets, 768px and up) Until Desktop version

    @media (min-width: 768px) {
        .nav{
          padding: 0;
          .menu-icon {
            display: none;
          }
    
          .menu {
            padding: 0 5rem;
            clear: none;
            max-height: none;
            li{
              float: left;
    
            }
    
          }
  
      }
      main{
        margin-top: 10rem;
      }
        .intro h2,
        .intro p{
            font-size: 7rem;
        }
        .logo{
            margin-left: 80px;
    
        }
        #small {
          display: none;
      }
      }
    /* small screen version for form*/
@media only screen and (max-width: 767px) {
  .box-wrapper{
      width: 100%;
  }
  .info-wrap,
  .form-wrap{
      width: 100%;
      height: inherit;
      float: none;  
  }
  .info-wrap{
      border-radius: 30px 30px 0px 0px;
  }
  .form-wrap{
      border-radius: 0px 0px 30px 30px;
  }
  .form-group{
      width: 100%;
      float: none;
      margin: 25px 0px;
  }
  .form-fields .form-group:last-child, 
  .submit-button{
      width: 100%;
  }
  .submit-button{
      margin: 10px 0px;
  }
 
}

  





        
