    //  Medium devices (landscape tablets, 768px and up) Until Desktop version

    @media (min-width: 768px) {
        .nav{
          padding: 0;
          .menu-icon {
            display: none;
          }
    
          .menu {
            padding: 0 5rem;
            clear: none;
            max-height: none;
            li{
              float: left;
            }
         }
      }
        .intro h2,
        .intro p{
            font-size: 7rem;
        }
        // my name logo for nav bar
        .logo{
            margin-left: 80px;
        }
        // about me text hide for desktop
        #small {
          display: none;
      }
      
      }
