$header-bg-color: linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);
$primary-bg-color:linear-gradient(90deg,#00ccff,#ff00bb);
$about-bg-color:linear-gradient(178.1deg, rgb(60, 55, 106) 8.5%, rgb(23, 20, 69) 82.4%);
$project-bg-color: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
$project-btn-hover: radial-gradient(circle at 4.3% 10.7%, rgb(138, 118, 249) 13.6%, rgb(75, 252, 235) 100.7%);
$nav-hover-blue:#00bcd4;
$nav-hover-pink:#f0f;
$percent:#151515;
$progress-one:linear-gradient(45deg, #1fe6ff, #673AB7); 
$progress-two:linear-gradient(45deg, #3bc0ff, #33ff00); 
$progress-three:linear-gradient(#772f1a , #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #462523 100%);
$progress-four:linear-gradient(45deg, #3bc0ff, #33ffe0);
$progress-five: linear-gradient(45deg, #ffee54, #ff00ca);
$progress-six:linear-gradient(45deg, #ffee54, #ff00ca);
$contact-bg-color: linear-gradient(110.6deg, rgb(156, 116, 129) -18.3%, rgb(67, 54, 74) 16.4%, rgb(47, 48, 67) 68.2%, rgb(27, 23, 36) 99.1%);
$text-color:#ff1492;
$primary-color:#9F7BF6;
$secondary-color:#BD9DEA;
$content-border:#020931;
$content-background: #05104b;
$text-base: #303952;
$text-primary-color:#ffffff;
$radial-gradient:radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
$base-color:#000;
$submit-btn: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
$form-shadow:inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
