// @import "base";
// You need the base only when you are not using bootstrap. In that case, go to _base.scss
// to customize it as you may want.
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

// Write your sass code here or import partials

/* menu */
/* menu icon */
/* menu btn */
:root{
  font-size: 62.5%;
}

body {
	height: 100vh;
	font-family: 'Roboto Slab', serif;
  scroll-behavior: smooth;

}
main {
	width: 100%;
	margin-top: 5.9rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-image: radial-gradient(rgb(77, 76, 76), black);
}
header {
	background-color: $primary-color;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}
nav {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
	}
	li {
		a {
			display: block;
			padding: 20px 20px;
			text-decoration: none;
			color: $text-color;
			font-size: 2rem;
		}
	}
}
.nav {
	li {
		a {
			&:hover {
				background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
			}
		}
	}}
  .menu-wrapper{
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  //menu
   .menu {
    display: none;
    transition: max-height .2s ease-out;
  }
  /* menu icon */
  
   .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
   .nav-icon {
    background:$text-color;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
   .nav-icon:before,
   .nav-icon:after {
    background:$text-color;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .nav .menu-icon .nav-icon:before {
    top: 5px;
  }
  
  .nav .menu-icon .nav-icon:after {
    top: -5px;
  }
    /* menu btn */
  
  .menu-btn {
      display: none;
    }
    // .menu{
    //   display: block;
    // }
    .menu-btn:checked ~ .menu {
      min-height: 300px;
      display: block;
    }
    
    .menu-btn:checked ~ .menu-icon .nav-icon {
      background: transparent;
    }
    
    .nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
      transform: rotate(-45deg);
    }
    
    .nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
      transform: rotate(45deg);
    }
    
    .nav .menu-btn:checked ~ .menu-icon:not(.steps) .nav-icon:before,
    .nav .menu-btn:checked ~ .menu-icon:not(.steps) .nav-icon:after {
      top: 0;
    }
    /* Medium devices (landscape tablets, 768px and up) Until Desktop version*/
  
    @media (min-width: 768px) {
      .menu-wrapper{
        display: flex;
        justify-content: flex-end;
        width: 100%;
      }
      //menu
      .nav .menu {
        display: flex;
        justify-content: flex-end;
        transition: max-height .2s ease-out;
    
      .nav .menu-icon {
        display: none;
      }
      .intro h2,
      .intro p{
          font-size: 7rem;
      }
      .logo{
          margin-left: 100px;
  
      }
    }
  
    .logo {
      background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);    
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border: none;
      color:$secondary-color;
      border-radius: 8px;
      font-weight: bold;
      font-style: italic;
      font-size: 2rem;
      line-height: 10px;
      top: 0;
      position: absolute;
      animation: slide 3s 1s linear ;
      margin-left: 10px;
      margin-top: 15px;
      padding: 10px 30px;
      transition: 0.3s;
    }
    .logo:hover{
      padding: 10px 35px;
  }
  
    
    @keyframes slide {
      from {
        margin-left: 100%;
      }
    
      to {
        margin-left: 10%;
      }
    }
    
  


//Profile Image Section
.profile-container{
  position: relative;
  width:300px;
  height:300px;
  border-radius:50%;
  background-color: $secondary-color;
  display: flex ;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 1s;
  cursor: pointer;
}
.profile-container::after{
  content: '';
  position: absolute;
  width:500px;
  height:500px;
  background-image: conic-gradient(transparent,transparent,transparent,transparent,transparent,transparent,transparent,#00ccff);
  animation: rotate 4s linear infinite;
  animation-delay: -2s;
}
.profile-container::before{
  content: '';
  position: absolute;
  width:500px;
  height:500px;
  background-image: conic-gradient(transparent,transparent,transparent,transparent,transparent,transparent,transparent,#ff00bb);
  animation: rotate 4s linear infinite;
  
}
.profile-container  .profile-cover{
  border-radius: 50%;
  position:absolute;
  inset: 4px;
  background-color:$primary-color;
  z-index:4;
}
.profile-container  .img-container{
  border: 5px solid radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);    
  ;
  position: absolute;
  width: 250px;
  height: 250px;
  z-index: 8;
  overflow: hidden;
  border-radius: 50%;
  align-self: center;
}
.profile-container  .content{
  transform: translateY(-120%);
  opacity: 0.9;
  position:absolute;
  border: 3px solid #020931;
  width: 250px;
  height:250px;
  border-radius: 50%;
  background-color: #05104b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 30;
  transition: 1s;
}
.content h3,h5{
  text-transform: uppercase;
  background-image: linear-gradient(90deg,#00ccff,#ff00bb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.content h3{
  font-size:22px ;
}
.content h5{
  margin-top:8px;
}
.content-btn{
  font-size: 1rem;
  margin-top: 15px;
  background-color: #c9ccde;
  color:white;
  border-radius: 20px;
  border: none;
  padding: 10px 30px;
  transition: 0.3s;
  background-image: linear-gradient(90deg,#00ccff,#ff00bb);

}
.content-btn:hover{
  padding: 10px 35px;
}
.img-container > img{
  width:100%;
  filter: grayscale(100%);
  object-fit: cover;
}
.profile-container:hover  .content{

  transform: translateY(0);
}
.profile-container:hover img{
  filter: grayscale(0);
}
@keyframes rotate {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}

//Text Intro Section

@keyframes shine {
	0% {
		background-position-x: -500%;
	}
	100% {
		background-position-x: 500%;
	}
}
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
	h2 {
		font-weight: 700;
		font-size: 4rem;
		text-align: center;
		font-family: Hack, sans-serif;
		text-transform: uppercase;
		background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
		letter-spacing: 5px;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		background-repeat: no-repeat;
		background-size: 80%;
		animation: shine 7s 2s linear infinite;
		position: relative;
	}
}
// Skills Set Section

@keyframes animate {
	from {
		width: 0;
	}
}
.skill-sec {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #2e2e2e;
}
.skill-container {
	position: relative;
	width: 500px;
	h2 {
		color: var(--primary-color);
		font-size: 2rem;
	}
	.skills {
		position: relative;
		display: flex;
		margin: 20px 0;
		padding: 24px 10px 18px;
		background: linear-gradient(#616161 0%, #333 10%, #222);
		border-radius: 8px;
		overflow: hidden;
		border: 2px solid black;
		transition: 0.5s;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 50%;
			background: rgba(255,255,255,.1);
			z-index: 10;
		}
		.name {
			position: relative;
			width: 110px;
			text-align: right;
			color: #fff;
			margin-top: -2px;
			text-transform: uppercase;
		}
		.value {
			position: relative;
			width: 40px;
			text-align: leftt;
			color: #fff;
			margin-top: -2px;
			text-transform: uppercase;
		}
		.percent {
			position: relative;
			width: calc(100% - 150px);
			height: 20px;
			margin: 0 10px;
			border-radius: 10px;
			background: #151515;
			box-shadow: 0 0 10px #000;
			overflow: hidden;
			.progress {
				position: absolute;
				top: 0;
				left: 0;
				width: 70%;
				height: 100%;
				border-radius: 10px;
				background: white;
				box-shadow: inset 0 0 2px #000;
				animation: animate 4s ease-in-out forwards;
			}
		}
		&:nth-child(2) {
			.percent {
				.progress {
					background: linear-gradient(45deg, #1fe6ff, #673AB7);
				}
			}
		}
		&:nth-child(3) {
			.percent {
				.progress {
					background: linear-gradient(45deg, #3bc0ff, #33ff00);
				}
			}
		}
		&:nth-child(4) {
			.percent {
				.progress {
					background: linear-gradient(45deg, #f8d905, #fe7a15);
				}
			}
		}
		&:nth-child(7) {
			.percent {
				.progress {
					background: linear-gradient(45deg, #ffee54, #ff00ca);
				}
			}
		}
		&:nth-child(5) {
			.percent {
				.progress {
					background: linear-gradient(45deg, #3bc0ff, #33ffe0);
				}
			}
		}
		&:nth-child(6) {
			.percent {
				.progress {
					background: linear-gradient(#772f1a , #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #462523 100%);
				}
			}
		}
	}
}
    }

