@import "base";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "header";
@import "media";
@import "hero";
@import "skill";
@import "project";
@import "contact";
@import "about";



// Write your sass code here or import partials


body {
height: 100vh;
font-family:'Roboto Slab', serif;
scroll-behavior: smooth;
}
    
